html {
  scroll-behavior: smooth;
  background-color: #141414;
}

body {
  background-color: #141414;
}

:root {
  --e-global-color-primary: #141414;
  --e-global-color-secondary: #f0ede6;
  --e-global-color-text: #7a7a7a;
  --e-global-color-accent: #0f0f0f;
  --e-global-color-9314a05: #f0ede6;
  --e-global-typography-primary-font-family: "Almarai";
  --e-global-typography-primary-font-size: 65px;
  --e-global-typography-primary-font-weight: 400;
  --e-global-typography-primary-text-transform: uppercase;
  --e-global-typography-primary-font-style: normal;
  --e-global-typography-cef10f5-font-family: "Antic Didone";
}

/* WRAPPER */

.container {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  border: 2px solid #0f0f0f;
}

/* SECTION 1 HOME */

.section1_slider {
  margin: 0 auto;
  padding: 0 3%;
  min-height: 800px;
  background-image: url("../photos/Design-Anthology-2022-04+Light+_+Dark+apartment\,+Tainan+-+Degree+Design-Degree_Design_BBBLACK-006.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: space-between;
  height: 95px;
  align-items: center;
}

.menu {
  display: flex;
  gap: 1.5rem;
}

header h2 {
  color: #f0ede6;
  font-family: "Almarai", sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

ul li a {
  font-family: "Almarai";
  font-size: 0.875rem;
  color: #7a7a7a;
  letter-spacing: 1px;
  transition: 0.8s;
}

ul li a:hover {
  color: #f0ede6;
}
.active {
  color: #f0ede6;
}

.section1_company_about {
  width: 75%;
  margin-inline: auto;
  margin-top: 13em;
  /* border: 2px solid red; */
}

.section1_company_about h1 {
  font-size: 4.06rem;
  font-family: "Almarai", sans-serif;
  line-height: 1.3;
  color: #f0ede6;
  text-align: center;
  margin-bottom: 1em;
}

.span_h1 {
  font-family: "Antic Didone";
}

.button_get_started {
  background-color: inherit;
  color: #f0ede6;
  font-family: "Almarai", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  border: 1px solid #f0ede6;
  border-radius: 1.5rem;
  padding: 0.8rem 2.5rem;
  display: block;
  margin-inline: auto;
  transition: 0.8s;
  text-transform: uppercase;
}

.button_get_started:hover {
  color: #141414;
  background-color: #f0ede6;
  cursor: pointer;
}

/* SECTION 2 */
.section2_home {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 10%;
  background-color: #f0ede6;
}

.photo_box1 {
  width: 25%;
  height: 260px;
}

.room_photo1 {
  width: 100%;
  height: auto;
  filter: brightness(100%) contrast(100%) saturate(0%) blur(0px)
    hue-rotate(0deg);
  transition-duration: 0.4s;
}

.room_photo1:hover {
  filter: none;
}

.section2_home_title {
  /* border: 2px solid red; */
  width: 70%;
  padding-inline: 2%;
}

.section2_home_title p {
  font-family: "Almarai", sans-serif;
  color: #7a7a7a;
  margin: 2em 0 3em;
  text-align: center;
}

.section2_home_title h2 {
  font-size: 2.81rem;
  font-family: "Alarmai", sans-serif;
  margin-bottom: 0.5em;
}

.span_every_lifestyle {
  font-size: 2.81rem;
  font-family: "Antic Didone", sans-serif;
  letter-spacing: 1px;
  display: block;
  text-align: center;
  margin-bottom: 1em;
}

.second_photo2 {
  margin-top: 14em;
}

.button_learn_more {
  background-color: inherit;
  color: #0f0f0f;
  font-family: "Alarmai", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  border: 1px solid #0f0f0f;
  border-radius: 1.5rem;
  padding: 0.8rem 2.5rem;
  display: block;
  margin-inline: auto;
  transition: 0.8s;
}

.button_learn_more:hover {
  color: #f0ede6;
  background-color: #0f0f0f;
  cursor: pointer;
}

/* ARTICLE 1 */
.home_articles {
  margin: 0 auto;
  padding: 10% 3%;
  background-color: #f0ede6;
  display: flex;
  flex-direction: column;
  row-gap: 3em;
}

.home_articles h2 {
  width: 50%;
  font-family: "Alarmai", sans-serif;
  font-size: 2.81rem;
  line-height: 1.3;
}

.span_defines_who_we_are {
  font-family: "Antic Didone", sans-serif;
}

.article_section1 {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #141415;
  padding-bottom: 3%;
}

.article_photo_box {
  width: 45%;
  height: 350px;
}

.article_photo1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article_description_box {
  width: 49%;
  /* border: 2px solid red; */
}

.article_description_box_child {
  display: flex;
  gap: 1.5em;
  margin-bottom: 1.5em;
}

.architectural_design_heading {
  font-size: 1.5rem;
  font-family: "Alarmai", sans-serif;
}

.article_description_box p {
  padding-inline: 9%;
  color: #7a7a7a;
  line-height: 1.3;
  margin-bottom: 13em;
}

.button_read_more {
  background-color: inherit;
  font-family: "Almarai", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  color: #0f0f0f;
  border: 1px solid #0f0f0f;
  border-radius: 1.5rem;
  padding: 1rem 2.3rem;
  transition: 0.8s;
  text-transform: uppercase;
}

.button_read_more:hover {
  color: #f0ede6;
  background-color: #0f0f0f;
  cursor: pointer;
}

/* SECTION 3 */
.section3_projects_complited {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 10% 5%;
  background-color: #f0ede6;
}

.statistic_info_box {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.statistic_info_box h2 {
  font-size: 4.18rem;
  font-family: "Antic Didone", sans-serif;
}

.statistic_info_box p {
  color: #7a7a7a;
  font-family: "Alarmai", sans-serif;
  font-weight: 400;
}

/* SECTION 4 */
.section4_video_background {
  margin: 0 auto;
  padding-top: 8%;
  min-height: 500px;
  background-image: url("../photos/MEDIA-GALLERY_Salvatori_Inspiration_Singapore-loft-style-1.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section4_video_background div {
  width: 45%;
  margin-inline: auto;
}

.section4_video_background h2 {
  font-family: "Almarai", sans-serif;
  font-size: 2.81rem;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 2em;
}

.span_modern_living {
  font-family: "Antic Didone";
}

.button_play_video {
  background-color: #f0ede6;
  opacity: 0.7;
  font-family: "Almarai", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  border: 1.5px solid #0f0f0f;
  border-radius: 1.5rem;
  padding: 0.8rem 3rem;
  display: block;
  margin-inline: auto;
  transition: 0.8s;
  text-transform: uppercase;
}

.button_play_video:hover {
  background-color: #0f0f0f;
  color: #f0ede6;
  border-color: #f0ede6;
  cursor: pointer;
}

/* ARTICLE 2 */
.article2 {
  margin: 0 auto;
  padding: 10% 5% 15%;
}

.article2_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
  margin-bottom: 3em;
}

.article2_div1 {
  width: 45%;
}

.article2_description h2 {
  font-family: "Alarmai", sans-serif;
  font-size: 2.81rem;
  line-height: 1.3;
  color: #f0ede6;
}

.span_makee_lives_better {
  font-family: "Antic Didone", sans-serif;
}

.button_all_projects {
  background-color: inherit;
  color: #f0ede6;
  font-family: "Almarai", sans-serif;
  letter-spacing: 1px;
  border: 1.5px solid #f0ede6;
  border-radius: 1.5rem;
  padding: 1rem 3rem;
  text-transform: uppercase;
  display: flex;
  gap: 1em;
  transition: 0.8s;
}

.button_all_projects::after {
  content: "\f178";
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  color: #f0ede6;
  transition: 0.8s;
}

.button_all_projects:hover {
  background-color: #f0ede6;
  color: #0f0f0f;
  cursor: pointer;
}

.button_all_projects:hover:after {
  color: #0f0f0f;
}

.article2_cards_parent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10em;
}

.figure1 {
  width: 48%;
  height: 415px;
}

.figcaption1 img {
  width: 100%;
  height: auto;
  margin-bottom: 1em;
  cursor: pointer;
  object-fit: cover;
}



.card2_photo {
  filter: brightness(100%) contrast(100%) saturate(0%) blur(0px)
    hue-rotate(0deg);
  transition: 0.8s ease;
}

.card2_photo:hover {
  filter: none;
}

.card_photo3 {
  filter: brightness(100%) contrast(100%) saturate(0%) blur(0px)
    hue-rotate(0deg);
  transition-duration: 0.8s;
  object-fit: cover;
}

.card_photo3:hover {
 filter: none;

}

.card4_photo {
  filter: brightness(100%) contrast(100%) saturate(0%) blur(0px)
    hue-rotate(0deg);
  transition-duration: 0.4s;
}

.card4_photo:hover {
  filter: none;
}

.figure1 p {
  color: #f0ede6;
  font-size: 1.06rem;
  font-family: "Antic Didone", sans-serif;
  font-style: normal;
  margin-bottom: 1em;
}

.figure1 div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.figure1 div > h3 {
  color: white;
  font-size: 1.5rem;
  font-family: "Almarai", sans-serif;
  text-transform: uppercase;
}

.button_view_project {
  padding: 1rem 2rem;
}



/* ARTICLE 3 */
.article3 {
  margin: 0 auto;
  padding: 10% 5% 20%;
  background-color: #f0ede6;
}


.article3 h2 {
  width: 50%;
  text-align: center;
  color: #141414;
  font-family: "Almarai", sans-serif;
  font-size: 2.81rem;
  line-height: 1.4;
  margin:0 auto 2em;
}

.span_interior_design {
  font-family: "Antic Didone",  sans-serif;
}

.figure2 {
  display: flex;
  justify-content: space-between;
}

.article_cards_box {
  width: 32%;
  height: 415px;
}

.figcaption2 img {
  width: 100%;
  height: auto;
  transition: all 1s ease;
}

.figcaption2 {
  margin-bottom: 2em;
  
}

.figcaption2 img:hover {
  transform: rotateY(180deg);
    opacity: .8; 
}

.article_cards_box_description {
  display: flex;
  gap: .5em;
  margin-bottom: 1.5em;
}

.article_cards_box_description p{
  font-family: "Almarai", sans-serif;
  font-size: 0.8rem;
  color: #f0ede6;
  background-color: #141414;
  padding: .5em 1.5em;
  border-radius: 30px;
}

.article_cards_box_description p:hover {
  transform: matrix3d(-0.6,       1.34788, 0,        );
}

.article_cards_box h3 {
  font-family: "Almarai", sans-serif;
  font-size: 1.45rem;
  margin-bottom: 1em;
}


.ask_project_info p {
  color: #7a7a7a;
  font-family: "Antic Didone", sans-serif;
}


/* SECTION 5 */
.section5 {
  margin: 0 auto;
  background-color: #0f0f0f;
  display: flex;
}

.section5_left_side_photo {
  width: 50%;
  height: 550px;
  overflow: hidden;
}

.section5_left_side_photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .8s ease;
}

.section5_left_side_photo img:hover {
  transform: scale(1.2);
}

.section5_right_side_title {
  width: 50%;
  padding-inline: 5%;
  /* border: 2px solid red; */
}

.section5_right_side_title h3 {
  margin-top: 2em;
  color: white;
  font-size: 2.81rem;
  font-family: "Alarmai", sans-serif;
  line-height: 1.3;
  margin-bottom: 1em;

}

.section5_right_side_title p {
  color: #7a7a7a;
  font-family: "Almarai", sans-serif;
  line-height: 1.3;
  margin-bottom: 2em;
}

.span_glad_to_see_new {
  font-family: "Antic Didone", sans-serif;
}

.section5_right_side_title>div {
  display: flex;
}


/* SECTION 6 FEEDBACK */
.section6_feedback {
  margin:  0 auto;
  padding: 10% 5%;
  background-color: #f0ede6;
}

.section6_feedback h2 {
  font-size: 2.81rem;
  font-family: "Almarai", sans-serif;
  color: #141414;
  line-height: 1.4;
  width: 40%;
  margin-bottom: 1.5em;
}

.span_beloved_clients {
  font-family: "Antic Didone", sans-serif;
}


.testimonials_box {
  display: flex;
  
}

.testimonial_feedback_text {
  width: 50%;
  padding-right: 3%;
}

.feedback_text {
  font-size: 1.3rem;
  font-family: "Antic Didone", sans-serif;
  line-height: 1.4;
  color: #141414;
  margin: 10em 0 2em;
}

.user_name {
  font-family: "Alarmai", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 1em;
}

.user_position  { 
  font-size: 1.1rem;
  color: #7a7a7a;
}

.user_photo_box {
  width: 50%;
  height: 600px;
}

.user_photo_box img {
  width: 100%;
  height: auto;
  transition: 0.8s;
}

.user_photo_box img:hover {
  opacity: 0.8;
}


/* SECTION 7  */
  .section7_subscribe_newsletter {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 15% 5%;
    height: 450px;
    background-image: url("../photos/card4.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .section7_subscribe_newsletter h3 {
    font-family: "Alarmai", sans-serif;
    font-size: 2.81rem;
    color: white;

  }

  .section7_subscribe_newsletter h3 span {
    font-family: "Antic Didone", sans-serif;
    width: 45%;
  }

  .form_home_page {
    width: 35%;
    /* border: 2px solid red; */
  }

  .section7_subscribe_newsletter form input {
    font-size: 1.05rem;
    font-family: "Antic Didone", sans-serif;
    color: #f0ede6;
    background-color: inherit;
    border-style: none;
    border-bottom: 2px solid #f0ede6;
    outline: none;
    width: 100%;
    padding-bottom: 1em;

  }
 
  ::placeholder {
    color: #f0ede6;
    font-family: "Antic Didone", sans-serif;
  }



  /* FOOTER */
  