html {
  scroll-behavior: smooth;
  background-color: #141414;
}

body {
  background-color: #141414;
}

:root {
  --e-global-color-primary: #141414;
  --e-global-color-secondary: #f0ede6;
  --e-global-color-text: #7a7a7a;
  --e-global-color-accent: #0f0f0f;
  --e-global-color-9314a05: #f0ede6;
  --e-global-typography-primary-font-family: "Almarai";
  --e-global-typography-primary-font-size: 65px;
  --e-global-typography-primary-font-weight: 400;
  --e-global-typography-primary-text-transform: uppercase;
  --e-global-typography-primary-font-style: normal;
  --e-global-typography-cef10f5-font-family: "Antic Didone";
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid inherit;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #f0ede6 inset;
  transition: background-color 5000s ease-in-out 0s;
}




/* WRAPPER */

.container {
  margin: 0 auto;
  max-width: 100vw;
  width: 100%;
  border: 2px solid #0f0f0f;
}

/* SECTION 1 HOME */

.section1_slider {
  margin: 0 auto;
  padding: 0 3%;
  min-height: 800px;
  background-image: url("../photos/Design-Anthology-2022-04+Light+_+Dark+apartment\,+Tainan+-+Degree+Design-Degree_Design_BBBLACK-006.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: space-between;
  height: 95px;
  align-items: center;              


}

.menu {
  display: flex;
  gap: 3rem;
}


.show {
 
}


.burgermenu,
.xmark {
  color: #f0ede6;
  font-size: 1.8rem;
  display: none;
}

header h2 {
  color: #f0ede6;
  font-family: "Almarai", sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

ul li a {
  font-family: "Antic Didone", sans-serif;
  font-size: 0.875rem;
  color: #b7b6b6;
  letter-spacing: 1.5px;
  transition: 0.8s;
}

ul li a:hover {
  color: #f0ede6;
}
.active {
  color: #f0ede6;
}

.section1_company_about {
  width: 75%;
  margin-inline: auto;
  margin-top: 13em;
  /* border: 2px solid red; */
}

.section1_company_about h1 {
  font-size: 4.06rem;
  font-family: "Almarai", sans-serif;
  line-height: 1.3;
  color: #f0ede6;
  text-align: center;
  margin-bottom: 1em;
}

.span_h1 {
  font-family: "Antic Didone";
}

.button_get_started {
  background-color: inherit;
  color: #f0ede6;
  font-family: "Almarai", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  border: 1px solid #f0ede6;
  border-radius: 1.5rem;
  padding: 0.8rem 2.5rem;
  display: block;
  margin-inline: auto;
  transition: 0.8s;
  text-transform: uppercase;
}

.button_get_started:hover {
  color: #141414;
  background-color: #f0ede6;
  cursor: pointer;
}

/* SECTION 2 */
.section2_home {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 10%;
  background-color: #f0ede6;
}

.photo_box1 {
  width: 25%;
  height: 260px;
}

.room_photo1 {
  width: 100%;
  height: auto;
  filter: brightness(100%) contrast(100%) saturate(0%) blur(0px)
    hue-rotate(0deg);
  transition-duration: 0.8s;
}

.room_photo1:hover {
  filter: none;
  transform: translateY(-10%);
}

.section2_home_title {
  /* border: 2px solid red; */
  width: 70%;
  padding-inline: 2%;
}

.section2_home_title p {
  font-family: "Almarai", sans-serif;
  color: #7a7a7a;
  margin: 2em 0 3em;
  text-align: center;
}

.section2_home_title h2 {
  font-size: 2.81rem;
  font-family: "Alarmai", sans-serif;
  margin-bottom: 0.5em;
}

.span_every_lifestyle {
  font-size: 2.81rem;
  font-family: "Antic Didone", sans-serif;
  letter-spacing: 1px;
  display: block;
  text-align: center;
  margin-bottom: 1em;
}

.second_photo2 {
  margin-top: 14em;
}

.button_learn_more {
  background-color: inherit;
  color: #0f0f0f;
  font-family: "Alarmai", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  border: 1px solid #0f0f0f;
  border-radius: 1.5rem;
  padding: 0.8rem 2.5rem;
  display: block;
  margin-inline: auto;
  transition: 0.8s;
}

.button_learn_more:hover {
  color: #f0ede6;
  background-color: #0f0f0f;
  cursor: pointer;
}

/* ARTICLE 1 */
.home_articles {
  margin: 0 auto;
  padding: 10% 3%;
  background-color: #f0ede6;
  display: flex;
  flex-direction: column;
  row-gap: 3em;
}

.home_articles h2 {
  width: 50%;
  font-family: "Alarmai", sans-serif;
  font-size: 2.81rem;
  line-height: 1.3;
}

.span_defines_who_we_are {
  font-family: "Antic Didone", sans-serif;
}

.article_section1 {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #141415;
  padding-bottom: 3%;
}

.article_photo_box {
  width: 45%;
  height: 350px;
  overflow: hidden;
}

.article_photo1:hover {
  transform: scale(1.1);
}

.article_photo1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.8s ease;
}

.article_description_box {
  width: 49%;
  /* border: 2px solid red; */
}

.article_description_box_child {
  display: flex;
  gap: 1.5em;
  margin-bottom: 1.5em;
}

.architectural_design_heading {
  font-size: 1.5rem;
  font-family: "Alarmai", sans-serif;
}

.article_description_box p {
  padding-inline: 9%;
  color: #7a7a7a;
  line-height: 1.3;
  margin-bottom: 13em;
}

.button_read_more {
  background-color: inherit;
  font-family: "Almarai", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  color: #0f0f0f;
  border: 1px solid #0f0f0f;
  border-radius: 1.5rem;
  padding: 1rem 2.3rem;
  transition: 0.8s;
  text-transform: uppercase;
}

.button_read_more:hover {
  color: #f0ede6;
  background-color: #0f0f0f;
  cursor: pointer;
}

/* SECTION 3 */
.section3_projects_complited {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 10% 5%;
  background-color: #f0ede6;
}

.statistic_info_box {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  /* border: 2px solid red; */
}

.statistic_info_box h2 {
  font-size: 4.18rem;
  font-family: "Antic Didone", sans-serif;
}

.statistic_info_box p {
  color: #7a7a7a;
  font-family: "Alarmai", sans-serif;
  font-weight: 400;
}

/* SECTION 4 */
.section4_video_background {
  margin: 0 auto;
  padding-top: 8%;
  min-height: 500px;
  background-image: url("../photos/MEDIA-GALLERY_Salvatori_Inspiration_Singapore-loft-style-1.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section4_video_background div {
  width: 45%;
  margin-inline: auto;
}

.section4_video_background h2 {
  font-family: "Almarai", sans-serif;
  font-size: 2.81rem;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 2em;
}

.span_modern_living {
  font-family: "Antic Didone";
}

.button_play_video {
  background-color: #f0ede6;
  opacity: 0.7;
  font-family: "Almarai", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  border: 1.5px solid #0f0f0f;
  border-radius: 1.5rem;
  padding: 0.8rem 3rem;
  display: block;
  margin-inline: auto;
  transition: 0.8s;
  text-transform: uppercase;
}

.button_play_video:hover {
  background-color: #0f0f0f;
  color: #f0ede6;
  border-color: #f0ede6;
  cursor: pointer;
}

/* ARTICLE 2 */
.article2 {
  margin: 0 auto;
  padding: 10% 5% 15%;
}

.article2_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
  margin-bottom: 3em;
}

.article2_div1 {
  width: 45%;
}

.article2_description h2 {
  font-family: "Alarmai", sans-serif;
  font-size: 2.81rem;
  line-height: 1.3;
  color: #f0ede6;
}

.span_makee_lives_better {
  font-family: "Antic Didone", sans-serif;
}

.button_all_projects {
  background-color: inherit;
  color: #f0ede6;
  font-family: "Almarai", sans-serif;
  letter-spacing: 1px;
  border: 1.5px solid #f0ede6;
  border-radius: 1.5rem;
  padding: 1rem 3rem;
  text-transform: uppercase;
  display: flex;
  gap: 1em;
  transition: 0.8s;
}

.button_all_projects::after {
  content: "\f178";
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  color: #f0ede6;
  transition: 0.8s;
}

.button_all_projects:hover {
  background-color: #f0ede6;
  color: #0f0f0f;
  cursor: pointer;
}

.button_all_projects:hover:after {
  color: #0f0f0f;
}

.article2_cards_parent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10em;
}

.figure1 {
  width: 48%;
  height: 415px;
}

.figcaption1 img {
  width: 100%;
  height: auto;
  margin-bottom: 1em;
  cursor: pointer;
  object-fit: cover;
}

.card2_photo {
  filter: brightness(100%) contrast(100%) saturate(0%) blur(0px)
    hue-rotate(0deg);
  transition: 0.8s ease;
}

  .card2_photo:hover {
    filter: none;
  }

.card_photo3 {
  filter: brightness(100%) contrast(100%) saturate(0%) blur(0px)
    hue-rotate(0deg);
  transition-duration: 0.8s;
  object-fit: cover;
}

.card_photo3:hover {
  filter: none;
}

.card4_photo {
  filter: brightness(100%) contrast(100%) saturate(0%) blur(0px)
    hue-rotate(0deg);
  transition-duration: 0.4s;
}

.card4_photo:hover {
  filter: none;
}

.figure1 p {
  color: #f0ede6;
  font-size: 1.06rem;
  font-family: "Antic Didone", sans-serif;
  font-style: normal;
  margin-bottom: 1em;
}

.figure1 div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.figure1 div > h3 {
  color: white;
  font-size: 1.5rem;
  font-family: "Almarai", sans-serif;
  text-transform: uppercase;
}

.button_view_project {
  padding: 1rem 2rem;
}

/* ARTICLE 3 */
.article3 {
  margin: 0 auto;
  padding: 10% 5% 20%;
  background-color: #f0ede6;
}

.article3 h2 {
  width: 50%;
  text-align: center;
  color: #141414;
  font-family: "Almarai", sans-serif;
  font-size: 2.81rem;
  line-height: 1.4;
  margin: 0 auto 2em;
}

.span_interior_design {
  font-family: "Antic Didone", sans-serif;
}

.figure2 {
  display: flex;
  justify-content: space-between;
}

.article_cards_box {
  width: 32%;
  height: 415px;
}

.figcaption2 img {
  width: 100%;
  height: auto;
  transition: all 1s ease;
}

.figcaption2 {
  margin-bottom: 2em;
}

.figcaption2 img:hover {
  transform: rotateY(180deg);
  opacity: 0.8;
}

.article_cards_box_description {
  display: flex;
  gap: 0.5em;
  margin-bottom: 1.5em;
}

.article_cards_box_description p {
  font-family: "Almarai", sans-serif;
  font-size: 0.8rem;
  color: #f0ede6;
  background-color: #141414;
  padding: 0.5em 1.5em;
  border-radius: 30px;
}

.article_cards_box_description p:hover {
  transform: matrix3d(-0.6, 1.34788, 0);
}

.article_cards_box h3 {
  font-family: "Almarai", sans-serif;
  font-size: 1.45rem;
  margin-bottom: 1em;
}

.ask_project_info p {
  color: #7a7a7a;
  font-family: "Antic Didone", sans-serif;
}

/* SECTION 5 */
.section5 {
  margin: 0 auto;
  background-color: #0f0f0f;
  display: flex;
}

.section5_left_side_photo {
  width: 50%;
  height: 550px;
  overflow: hidden;
}

.section5_left_side_photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.8s ease;
}

.section5_left_side_photo img:hover {
  transform: scale(1.2);
}

.section5_right_side_title {
  width: 50%;
  padding-inline: 5%;
  /* border: 2px solid red; */
}

.section5_right_side_title h3 {
  margin-top: 2em;
  color: white;
  font-size: 2.81rem;
  font-family: "Alarmai", sans-serif;
  line-height: 1.3;
  margin-bottom: 1em;
}

.section5_right_side_title p {
  color: #7a7a7a;
  font-family: "Almarai", sans-serif;
  line-height: 1.3;
  margin-bottom: 2em;
}

.span_glad_to_see_new {
  font-family: "Antic Didone", sans-serif;
}

.section5_right_side_title > div {
  display: flex;
}

/* SECTION 6 FEEDBACK */
.section6_feedback {
  margin: 0 auto;
  padding: 10% 5%;
  background-color: #f0ede6;
}

.section6_feedback h2 {
  font-size: 2.81rem;
  font-family: "Almarai", sans-serif;
  color: #141414;
  line-height: 1.4;
  width: 40%;
  margin-bottom: 1.5em;
}

.span_beloved_clients {
  font-family: "Antic Didone", sans-serif;
}

.testimonials_box {
  display: flex;
}

.testimonial_feedback_text {
  width: 50%;
  padding-right: 3%;
}

.feedback_text {
  font-size: 1.3rem;
  font-family: "Antic Didone", sans-serif;
  line-height: 1.4;
  color: #141414;
  margin: 10em 0 2em;
}

.user_name {
  font-family: "Alarmai", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 1em;
}

.user_position {
  font-size: 1.1rem;
  color: #7a7a7a;
}

.user_photo_box {
  width: 50%;
  height: 600px;
}

.user_photo_box img {
  width: 100%;
  height: auto;
  transition: 0.8s;
}

.user_photo_box img:hover {
  opacity: 0.8;
}

/* SECTION 7  */
.section7_subscribe_newsletter {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 15% 5%;
  height: 450px;
  background-image: url("../photos/card4.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section7_subscribe_newsletter h3 {
  font-family: "Alarmai", sans-serif;
  font-size: 2.81rem;
  color: white;
}

.section7_subscribe_newsletter h3 span {
  font-family: "Antic Didone", sans-serif;
  width: 45%;
}

.form_home_page {
  width: 35%;
  /* border: 2px solid red; */
}

.section7_subscribe_newsletter form input {
  font-size: 1.05rem;
  font-family: "Antic Didone", sans-serif;
  color: #f0ede6;
  background-color: inherit;
  border-style: none;
  border-bottom: 2px solid #f0ede6;
  outline: none;
  width: 100%;
  padding-bottom: 1em;
}

::placeholder {
  color: #f0ede6;
  font-family: "Antic Didone", sans-serif;
}

/* FOOTER */

footer {
  margin: 0 auto;
  padding: 10% 5%;
  display: flex;
  justify-content: space-between;
}

.footer_div_left {
  width: 48%;
  /* border: 2px solid red; */
  display: flex;
  gap: 5em;
  flex-wrap: wrap;
}

.footer_nav {
  width: 32%;
}

.footer_nav a {
  font-family: "Almarai";
  font-size: 0.875rem;
  color: #7a7a7a;
  letter-spacing: 1px;
  transition: 0.8s;
  display: block;
  margin-bottom: 1em;
}

.footer_nav a:hover {
  color: #f0ede6;
}

.div_span {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
}

.footer_nav span {
  font-size: 1.2rem;
  font-weight: 300;
  color: #7a7a7a;
  background-color: #02010100;
  font-family: "Antic Didone", sans-serif;
  transition: 0.8s;
  cursor: pointer;
}

.footer_nav span:hover {
  color: #f0ede6;
}

.footer_nav1 {
  width: 32%;
}

.footer_nav1 p {
  color: white;
  font-family: "Alarmai", sans-serif;
  margin-bottom: 1em;
}

.footer_nav1 a {
  display: block;
  margin-bottom: 1em;
  font-size: 0.9rem;
  color: #7a7a7a;
  transition: 0.8s;
  cursor: pointer;
}

.footer_nav1 a:hover {
  color: white;
}

.footer_right_side {
  width: 45%;
}

.footer_right_side h3 {
  color: white;
  font-size: 2rem;
  font-family: "Alarmai", sans-serif;
  margin-bottom: 1em;
  line-height: 1.3;
}

.footer_right_side button {
  display: inline;
}

/* ABOUT PAGE */
.section1_about_page {
  margin: 0 auto;
  padding: 0 3%;
  min-height: 400px;
  background-image: url("../photos/dow1black.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.section1_about_heading h2 {
  color: white;
  font-size: 2.2rem;
  font-family: "Alarmai", sans-serif;
  margin: 3em 0 1em;
  text-align: center;
}

.section1_about_heading div {
  width: 12%;
  margin-inline: auto;
  display: flex;
  gap: 1em;
  align-items: center;
}

.section1_about_heading div a {
  font-size: 1.1rem;
  color: #ffffff8a;
  font-family: "Antic Didone", sans-serif;
  transition: 0.8s;
}

.right_arrow_icon {
  color: #f0ede6;
}

.section1_about_heading div a:hover {
  color: white;
}

/* SECTION 2 ABOUT PAGE */
.section2_about_page {
  margin: 0 auto;
  padding: 5% 3%;
  display: flex;
  justify-content: space-between;
}

.button_get_started2 {
  display: inline;
}

.photo_box_layers {
  width: 50%;
  height: 600px;
  position: relative;
}

.fig1_absolute {
  width: 100%;
  height: 100%;
}

.fig2_absolute {
  width: 350px;
  height: 230px;
  position: absolute;
  inset: 0;
  top: 70%;
  left: -10%;
  filter: brightness(100%) contrast(100%) saturate(0%) blur(0px)
    hue-rotate(0deg);
  transition-duration: 0.8s;
}

.fig2_absolute:hover {
  filter: none;
  transform: rotateY(180deg);
}

/* SECTION 3 ABOUT PAGE */
.section3_about_page {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 10%;
}

.section3_about_page h2 {
  color: white;
}

.section3_about_page span {
  color: white;
}

.section3_about_page p {
  color: #ffffff8a;
}

/* SECTION 4 */

.section4_about_page {
  margin: 0 auto;
  padding: 10% 3%;
  background-color: #f0ede6;
}

.section4_about_page h2 {
  font-size: 2.81rem;
  line-height: 1.3;
  width: 50%;
  margin-bottom: 2em;
}

.services_box_parent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services_box_parent div {
  width: 48%;
  padding: 3.5% 0;
  display: flex;
  align-items: center;
  gap: 1em;
  border-top: 1px solid #7a7a7a;
}

.div_bottom_border {
  border-bottom: 1px solid #7a7a7a;
}

.services_box_parent > div span {
  font-size: 1.2rem;
  font-family: "Antic Didone", sans-serif;
}

.services_box_parent > div h3 {
  font-family: "Almarai", sans-serif;
  font-size: 1.5rem;
}

/* SECTION 6 */
.section6_video_about {
  margin: 0 auto;
  padding-top: 8%;
  min-height: 500px;
  background-image: url("../photos/YCL_STRAUSS\ apartment_HIGH\ q\ \(2\).jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section6_video_about div {
  width: 45%;
  margin-inline: auto;
}

.section6_video_about h2 {
  font-family: "Almarai", sans-serif;
  font-size: 2.81rem;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 1em;
}

/* SECTION 7 */
.section7_our_values {
  margin: 0 auto;
  padding: 8% 3%;
  background-color: #f0ede6;
}

.section7_our_values h2 {
  font-size: 2.81rem;
  font-family: "Alarmai", sans-serif;
  line-height: 1.4;
  width: 40%;
  margin-bottom: 2em;
}

.our_values_box_parent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1em;
}

.our_values_child {
  padding: 4%;
  width: 32%;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #1414142b;
  transition: 0.6s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-bottom: 1em;
}

.our_values_child:hover {
  border-color: #0f0f0f;
  transform: translateY(-10%);
}

.icon_title {
  display: flex;
  gap: 1em;
  margin-bottom: 2em;
}



.paper_icon {
  font-size: 1.4rem;
  color: #141415;
}

.book_icon {
  font-size: 1.4rem;
  color: #141415;
}

.lock_icon {
  font-size: 1.4rem;
  color: #141415;
}

.rocket_icon {
  font-size: 1.4rem;
  color: #141415;
}

.eye_icon {
  font-size: 1.4rem;
  color: #141415;
}

.hour_glass_icon {
  font-size: 1.4rem;
  color: #141415;
}


.icon_title a {
  font-size: 1.2rem;
  font-family: "Alarmai", sans-serif;
  color: #141414;
}

/* .icon_title:hover {
  color: white;
} */

.our_values_child p {
  color: #7a7a7a;
  font-family: "Alarmai", sans-serif;
  line-height: 1.4;
}

/* SECTION 8  */
.section8_company_porfessionals {
  margin: 0 auto;
  padding: 10% 3%;
}

.section8_company_porfessionals h2 {
  width: 50%;
  font-size: 2.81rem;
  font-family: 'Almarai', sans-serif;
  color: white;
  line-height: 1.4;
  text-align: center;
  margin: 0 auto 2em;
 
}

.section8_company_porfessionals span {
  font-family: "Antic Didone", sans-serif;
}

.figure_team_professionals {
  display: flex;
  justify-content: space-between;
}

.employess_info_box {
  width: 23%;
}

.employess_info_box figcaption {
  overflow: hidden;
}


.figure_team_professionals div figcaption img {
  width: 100%;
  height: auto;
  filter: brightness( 95% ) contrast( 110% ) saturate( 0% ) blur( 0px ) hue-rotate( 0deg );
    transition-duration: 0.4s;
    object-fit: cover;
}

.figure_team_professionals div img:hover {
  filter: none;
  transform: scale(1.05);
}

.figure_team_professionals div figcaption {
  margin-bottom: 2em;
}

.worker_name {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
  padding-top: 8%;
  margin-bottom: 1em;
}

.worker_name h3 {
  color: white;
  font-family: 'Alarmai', sans-serif;
}

.worker_name span {
  color: #FFFFFFD9;
}


.figure_team_professionals p{
  color: #afacac;
  font-family: 'Antic Didone', sans-serif;
}


/* SECTION 9 */
.section9_customers_questions {
  margin: 0 auto;
  padding: 10% 3%;
  background-color: #f0ede6;
  display: flex;
  justify-content: space-between;

}

.customers_question_heading {
  width: 45%;

}

.section9_customers_questions div h2 {
  font-size: 2.81rem;
  font-family: 'Alarmai', sans-serif;
  line-height: 1.4;
  margin-bottom: 1em;
}

.section9_customers_questions div span {
  font-family: "Antic Didone", sans-serif;
}

.section9_customers_questions div p {
  font-family: 'Alarmai', sans-serif;
  color:#7a7a7a;
  line-height: 1.5;
}


.questions_box {
  border-bottom: 1px solid #141414;
  padding-bottom: 8%;
  display: flex;
  margin-bottom: 2em;
  align-items: center;
  justify-content: space-between;
  gap: 4em;
}



.questions_box h3{
  font-family: 'Alarmai', sans-serif;
  color: #141414;
}



/* CONTACT PAGE */ 
.section1_contact_page {
  margin: 0 auto;
  padding: 0 3%;
  min-height: 400px;
  background-image: url("../photos/how-minimal-window-frames-maximize-light-views-and-transparency_1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* SEECTION 2 */
.section2_contact {
  margin: 0 auto;
  background-color: #f0ede6;
  padding: 10%  3%;
  display: flex;
  justify-content: space-between;
}

.get_in_touch_box {
  width: 45%;
}

.get_in_touch_box h2 {
  font-size: 2.81rem;
  font-family: 'Alarmai', sans-serif;
  margin: 1em 0;
}

.span_touch {
  font-family: 'Antic Didone',sans-serif;
}

.get_in_touch_child {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 2em;
}

.get_in_touch_child div {
  width: 45%;
}


.get_in_touch_child div h3 {
  color: #141414;
  font-family: "Alarmai", sans-serif;
  margin-bottom: 1em;
}

.get_in_touch_child div p{
  color: #afacac;
  font-family: 'Alarmai', sans-serif;
  margin-bottom: 0.5em;
}

.get_in_touch_child div span {
  font-family: 'Antic Didone', sans-serif;
  font-size: 1.1rem;
  color: #7a7a7a;
}

iframe {
  width: 50%;
  height: 500px;
  filter: brightness(100%) contrast(100%) saturate(0%) blur(0px)
    hue-rotate(0deg);
    transition: 0.8s;
}

iframe:hover {
  filter: none;
}



/* SECTION 3 PROJECT TALK */
.section4_project_talk {
  margin: 0 auto;
  background-color: #f0ede6;
  padding: 0% 20% 10%;
}

.section4_project_talk h2 {
  font-size: 2.81rem;
  font-family: 'Alarmai', sans-serif;
  text-align: center;
  margin-bottom: 1.5em;
}

.span_about_project {
  font-family: 'Antic Didone', sans-serif;
}

.form2_contact_page {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 2.5em;
}

.form2_contact_page input {
  font-size: 1.05rem;
  font-family: "Antic Didone", sans-serif;
  color: #7a7a7a;
  background-color: inherit;
  border-style: none;
  border-bottom: 1px solid #141414;
  outline: none;
  width: 48%;
  padding-bottom: 1em;
}



.form2_contact_page input::placeholder {
  color: #7a7a7a;
}

.textarea_2 {
  width: 100%;
  font-family: 'Antic Didone', sans-serif;
  border-style: none;
  border-bottom: 1px solid #141414;
  background-color: inherit;
  outline: none;
}


.textarea_2::placeholder {
  color: #7a7a7a;
  font-size: 1.1rem;
}

.submit2_button {
  background-color: inherit;
  font-family: 'Alarmai', sans-serif;
  letter-spacing: 1px;
  border: 2px solid #141414;
  border-width: 1px;
  padding: 1.2em 3em;
  border-radius: 30px;
  display: block;
  margin-inline: auto;
  transition: .8s;
  cursor: pointer;
}

.submit2_button:hover {
  color: white;
  background-color: #141414;

}


/* Your CSS styles */
.section1_slider,
.section2_home,
.home_articles,
.section3_projects_complited,
.section4_video_background, 
.article2, 
.article3, 
.section5, 
.section6_feedback, 
.section7_subscribe_newsletter, 
.footer1,
.section1_about_page, 
.section2_about_page,
.section3_about_page, 
.section4_about_page, 
.section6_video_about, 
.section7_our_values, 
.section8_company_porfessionals, 
.section9_customers_questions,
.section1_contact_page, 
.section2_contact, 
.iframe1, 
.section4_project_talk
{
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.5s ease;
}

.load {
  opacity: 1;
  transform: translateY(0);
}

